body{
    font-family: 'Poppins', sans-serif;
    background-image: linear-gradient(to right, rgb(19,25,66), #927fb6, #62c5c8, #0c2f47 );
    background-color: #040c28;
}

header {
    height: 100px;
    margin-bottom: 40px;
    border-bottom: 1px solid #777;
    color: whitesmoke;
    font-family:'Courier New', Courier, monospace;
}

h1 {
    text-transform: uppercase;
    margin-bottom: 0;
    text-align: center;
}

h1::after{
    content: '|';
    margin-left: 5px;
    opacity: 1;
    animation: blink .7s infinite;
}

@keyframes blink {
    0%, 100% { 
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
}

header p {
    text-align: center;
}

section{
    margin: 0 auto;
    display: block;
    max-width: 1024px;
    height: 100%;
}

.card{
    display: inline-block;
    margin: 10px;
    border: 1px solid #777;
    vertical-align: top;
    max-height: 100%;
    background-color: #927fb6;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    padding: 4px;
}

.card img {
    display: block;
    width: 300px;
    height: 300px;
    border: none;
}

.card details {
    width: 300px;
    height: auto;
    display: inline-block;    
}

.card details summary{
    font-size: 18px;
    padding: 10px;
}

.card details p{
    padding: 0 10px;
}

.card details blockquote{
    color: rgb(58, 57, 57);
    font-style: italic;
} 

@media (max-width: 768px) {
    header{
       margin-bottom: 20px;
       height: 200px; 
    }

    h1 {
        font-size: 36px;
    }

    .card {
        display: block;
        margin: 20px 10px;
    }

    .card img {
        width: 100%;
        height: 100%;
    }

    .card details {
        width: 100%;
    }

    .card details summary{
        font-size: 16px;
    }

    .card details p{
        font-size: 14px;
    }
}